#overlay {
    position: absolute;
    z-index: 2147483647;
    /*background-color:red;*/
}
#overlay-img {
    height: auto;
    width: auto;
    max-width: 100%;
    min-width: 30px;
}
/*Grandezza box player.*/
#playercontent{
    height:auto;
    width:auto;
}
#annoVideo {
    z-index: 1;
}   